<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SiteDieta</display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/META-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>/WEB-INF/paginas/home.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>StripesFilter</filter-name>
    <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
    <init-param>
      <param-name>ActionResolver.Packages</param-name>
      <param-value>com.site.web.action</param-value>
    </init-param>
  </filter>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter-mapping>
    <filter-name>StripesFilter</filter-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.site.web.AutenticacaoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/autenticacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.site.web.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/goHome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroMedico</servlet-name>
    <servlet-class>com.site.web.RedirecionadorCadastroMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroMedico</servlet-name>
    <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registro</servlet-name>
    <servlet-class>com.site.web.CadastroMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/registrar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenusUsuario</display-name>
    <servlet-name>MenusUsuario</servlet-name>
    <servlet-class>com.site.web.MenusUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenusUsuario</servlet-name>
    <url-pattern>/MenusUsuario</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>405</error-code>
    <location>/PrimeiraTela.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/WEB-INF/paginas/paginaErro.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.site.web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/usuario/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuscadorMedico</servlet-name>
    <servlet-class>com.site.web.BuscadorMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorMedico</servlet-name>
    <url-pattern>/BuscadorMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirecionadorGerenciamento</servlet-name>
    <servlet-class>com.site.web.RedirecionadorGerenciamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirecionadorGerenciamento</servlet-name>
    <url-pattern>/gerenciamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GerenciadorDietas</servlet-name>
    <servlet-class>/SiteDieta/WEB-INF/paginas/gerenciamentoDietas.jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciadorDietas</servlet-name>
    <url-pattern>/medico/gerenciamento</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>Jersey REST Service</servlet-name>
	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>com.site.webservice</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>

 <servlet-mapping>
	<servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/resource/*</url-pattern>
 </servlet-mapping>
</web-app>